// .cinemasPage {
//   /* container-level overrides if needed */
// }

// .gridContainer {

// }

/* Card layout */
.cinemaCard {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease;
  box-shadow: 0 3px 8px rgba(255, 193, 7, 0.35); // ✨ CineTime sarı parıltı

  &:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 18px rgba(255, 193, 7, 0.35); // ✨ CineTime sarı parıltı
  }
}

.mediaWrap {
  position: relative;
  min-height: 230px;
  height: 100%;

}

.cardBody {
  padding: 16px;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-content: start;
  gap: 10px;
  flex-grow: 1;
  background-color: whitesmoke;
}

.title {
  color: black;
  font-weight: 700;
  font-size: 20px;
}

.cityLabel {
  margin-top: 10px;
  color: black;
  padding: 5px;
}
