// .cinemasPage {
//   /* container-level overrides if needed */
// }

// .gridContainer {

// }

/* Card layout */
.cinemaCard {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border: 1px solid #2b2e36;
  overflow: hidden;
  border-radius: 14px;
  transition: all .3s ease;
  box-shadow: 0 3px 8px rgba(255, 193, 7, 0.35); // ✨ CineTime sarı parıltı

  &:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 18px rgba(255, 193, 7, 0.35); // ✨ CineTime sarı parıltı
  }
}

.mediaWrap {
  position: relative;
  min-height: 230px;
}

.cardBody {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: start;
  gap: 10px;
  flex-grow: 1;
}

.title {
  margin: 0;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}
