.movie-card-btn {
  display: grid;
  place-items: center;
  background: transparent !important;
  border: none !important;
  padding: 0 !important;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 5;
  transform: rotate(-30deg);
  transition: all 0.3s ease;

  img {
    width: 70px;
    height: 35px;
    object-fit: contain;
    pointer-events: none; // image click engelleme
  }

  &:hover {
    transform: rotate(0deg) scale(1.3);
  }

  &:active {
    transform: scale(1.2);
    transition: transform 0.15s ease;
  }
}

.showtime-buy-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1 solid black;
  transform: none;
  padding: 20px 20px;
  transition: all 0.3s ease;

  img {
    width: 50px;
    height: 30px;
    object-fit: contain;
    pointer-events: none; // image click engelleme
  }

  span {
    font-size: 1.2rem;
  }

  &:hover {
    transform: scale(1.1);
  }
}
