.buy-ticket-btn {
  display: grid;
  place-items: center;
  background: transparent !important;
  border: none !important;
  padding: 0 !important;
  cursor: pointer;
  transition: all 0.3s ease;

  img {
    width: 70px;
    height: 35px;
    object-fit: contain;
    pointer-events: none; // image click engelleme
  }

  &:hover {
    transform: rotate(0deg) scale(1.3);
  }

  &:active {
    transform: scale(1.2);
    transition: transform 0.15s ease;
  }
}

.movie-card-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 5;
  transform: rotate(-20deg);

  &:hover {
    transform: rotate(0deg) scale(1.3);
  }
}

.showtime-card-btn {
  transform: none;

  &:hover {
    transform: scale(1.3);
  }
}
