@use 'sweetalert2/src/sweetalert2.scss' as *;
@use "bootstrap/scss/bootstrap" as *;
@use "./variables" as *;
@import "primeicons/primeicons.css";
@import "primereact/resources/themes/saga-orange/theme.css";

html, body {
  height: 100%; // sayfanın yüksekliği tam olsun
  margin: 0;
  padding: 0;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // ekran boyunu doldursun
}

.content {
  flex: 1; // içerik alanı büyüyüp footer'ı alta iter
}
