@import "./variables";

@import "bootstrap/scss/bootstrap";
@import "primeicons/primeicons.css";
@import 'sweetalert2/src/sweetalert2.scss';

@import "primereact/resources/themes/saga-orange/theme.css";
@import '../components/common/button/_biletal.scss';