// All @use rules must come first
@use "bootstrap/scss/bootstrap" as *;
@use "./variables" as *;
@use "../components/common/favorite-button.scss" as *;

// All @import rules come after @use rules
@import "primeicons/primeicons.css";
@import "primereact/resources/themes/saga-orange/theme.css";
@import "sweetalert2/dist/sweetalert2.min.css";
@import "@/styles/admin-offcanvas.scss";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
}

.content {
  flex: 1;
}
