.find-showtime-btn {
  display: grid;
  place-items: center;
  background: transparent !important;
  border: none !important;
  padding: 0 !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 5;
  transform: rotate(-20deg);
  transition: all 0.3s ease;

  &:hover {
    transform: rotate(0deg) scale(1.2);
  }

  img {
    object-fit: contain;
    pointer-events: none; // image click engelleme

  }

  &:active {
    transform: scale(1.3);
    transition: transform 0.15s ease;
  }
}
